{{> head}}
  {{> navbar }}

<div class="row">

<div class="col-8">
<h1>About Page</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum earum sed hic eligendi recusandae minus nisi quibusdam illum quo reprehenderit repellat esse enim, tempora aliquid obcaecati sint quasi dolorem similique?
</p>
</div>

<div class="col-4">
    <img src="/assets/img/IMG-20120714-009211.jpg" class="img-thumbnail">

</div>

</div>


{{> footer}}